.dropdown-container {
  width: 300px;
}
.main-dropdown {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  /*padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;*/
}
