.text-input-currency {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.currency-dropdown-container {
  margin: 10px auto;
  color: black;
}
.currency-dropdown {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}
