//@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  color: white;
  padding-bottom: 100px;
  background-color: #545454;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  margin-bottom: 20px;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
